html {
    scroll-behavior: smooth;
}
body {
    margin: 20px ;
    padding: 0%;
    background-color: var(--first-color);
    text-align: center;
}

#load-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 16em;
  width: 30%;
}

.invert {
    filter: invert(100%);
}

.icons {
    text-align: center;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 20px;
    transition: 0.5s;
}

.star-icon {
    color: var(--second-color);
    padding: 12px;
    transition: 0.5s;
}

.star-icon:hover {
    color: var(--third-color);
    transition: 0.5s;
}

.home-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
    transition: 0.5s;
}

.home-icon:hover {
    color: var(--third-color);
    transition: 0.5s;
}

.kontakt h2 {
     font-family: var(--first-font);
     color: var(--second-color);
     font-size: 40px;
     font-weight: 800;
     text-transform: uppercase;
     margin: 60px;
}

.kontakt h4 {
    font-family: var(--first-font);
     color: var(--second-color);
     font-size: 28px;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 0.6px;
     margin: 30px;
}

.kontakt a {
     font-weight: 600;
     font-family: var(--second-font);
     text-decoration: none;
     color: var(--third-color);
     transition: 0.5s;
     letter-spacing: 0.6px;
     padding: 44px;
     margin: 10px;
}

.kontakt a:hover {
    color: var(--fourth-color);
}

.kontakt p {
    color: var(--fourth-color);
    font-family: var(--second-font);
    font-weight: 400;
    margin-bottom: 45px;
    letter-spacing: 0.35px;
}

.posledni p {
    margin-bottom: 150px;
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}